/* start welcomming text styles */
.card-panel {
  text-align: center;
  margin: 1% 0 0 auto !important;
  border-radius: 40px !important;
  width: 20%;
  padding: 10px !important;
  background-color: rgb(242, 194, 137, 0.0) !important;
  border-bottom: solid 2px white;
  font-family: Lucida Console;
  font-weight: 600;
  color: rgb(71, 71, 71) !important;
  font-size: 17px !important;
}

.card-panel:hover {
  box-shadow: 4px 4px 2px rgb(163, 163, 163);
  cursor: pointer;
}

@media only screen and (max-width:850px) {
  .card-panel {
    width: 50%;
    margin: 0 auto !important;
    margin-top: 3% !important;
    font-size: 14px !important;
  }
}
/* end welcomming text styles */

/* start tabs styles */
.mytab{
  margin-top: 5% !important;
  width: 85% !important
}
.tab a{
  font-family: verdana;
  font-weight: 400 !important;
  font-size: 13pt !important;
  color: rgb(2, 47, 35) !important;
}
.tabs .tab a:focus, .tabs .tab a:focus.active{
  background-color: #00000014 !important;
  font-weight: 500 !important;
  font-size: 14pt !important;
  transition: 0.3s ease-out;
  color:rgb(0, 119, 87) !important;
}
.tabs .indicator{
  height: 2px !important;
  background-color: rgb(54, 99, 82)!important
}
@media only screen and (max-width:850px){
  .mytab{
    width: 100% !important

  }
}
@media only screen and  (max-width:600px){

  .tab a{
    font-size: 8pt !important;
    /* overflow: visible !important; */
  }
  .tabs .tab a:focus, .tabs .tab a:focus.active{
    background-color: #00000014 !important;
    font-weight: 400 !important;
    font-size: 8pt !important;
    transition: 0.3s ease-out;
    color:rgb(0, 119, 87) !important;
  }
}
/* end tabs styles */
/* my cards styles */
.mycard{
}
@media only screen and (max-width:950px){
  .mycard{
width: 50% !important;
margin: 0 auto !important;
  }
}
@media only screen and (max-width:620px){
  .mycard{
width: 80% !important;
float: none !important
  }
}

.book_info {
  padding-top: 2px !important;
  line-height: 2.2 !important;
  text-align: right !important;
  font-weight: 450 !important;
  font-size: 1.16rem !important;
}
.myinfo{
  color: rgb(0, 112, 150) !important;
}
.mycostinfo_old{
  font-size: 1.3rem !important;
  float: left;
  text-decoration: line-through;
  text-decoration-color:red;
}
.mycostinfo_new{
  font-size: 1.3rem !important;
  color: rgb(0, 102, 70) !important;
  font-weight: 450 !important
}

.buy_btn{
  text-align: center;
}
.buy_btn a{
  color: rgb(10, 133, 136) !important;
  font-weight: 700 !important;
}
.buy_btn:hover{
  box-shadow: 1px 2px 1px grey;
background-color: rgb(45, 181, 161,0.2) !important;
transition: 0.5s ease-out;
}
.mycard-content{
  padding-bottom: 2px !important;
}
.mycard-content span{
  font-weight: 500 !important;
  text-align: center;
  font-size: large !important;
}
